/*global*/
*{
    margin: 0;
}

body{
    font-family: "fredoka";
}

img{
    max-width: 100%;
}

.btn{
    display: block;
    background-color: black;
    color: white;
    
}

/*utilities*/
.container{

}

.main-text{
    font-weight: 900;
    font-size: 55px;
    line-height: 1;
    letter-spacing: 1;
}


/*header*/
.site-header{
    background-color: aquamarine;
}

.site-header h1{
    font-weight: 300;
    font-size: 24px;
}